body {
  background-image: url(img/blurredsky.png);
  background-size: auto;
  

}

.container {
  display: flex;
  position: relative;
  top: 10vw;
  flex-direction: row;
  justify-content: center;

 

}



.innhold input {  
  padding: 8px;
  opacity: 60%;
  border-radius: 5px;
  border: none;
  margin: 2px;
  

  
}


button {
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  opacity: 60%;
  background-color: rgb(58, 199, 58);
  border: none;
  cursor: pointer;
  
}

button:hover {
   background-color: rgb(93, 202, 93);
}

button:active {
  background-color: rgb(148, 222, 148);
  box-shadow: 0 1px #ffffff;
  transform: translateY(4px);
}

.weatherbox {
  background-color: black;
  opacity: 50%;
  border-radius: 5px;
  height: clamp(350px, 50%, 500px);
  
}

.weatherbox h3 {
  color: white;
  text-align: center;
  background-color: #352727;
  height: 35px;
  font-size: 22px;
  border-radius: 5px;
}

.weatherbox p {
  color: white;
  text-align: right;
  margin-right: 25px;
  font-size: 15px;         
}


.bilde img {
  width: 50%;
  transform: translateY(-203px);
  background-color: #3f3c3c;
  margin: 10px;
  border-radius: 5px;
  height: 180px;
  margin-top: 1rem;
  
}


@media (max-width: 409px) {
  .innhold input {
    padding: 3px;
    width: 40%;
  }

  button {
    padding: 3px;

  }
}


   

@media (max-width: 376px) {
  .weatherbox {
    margin: 10px;
  }

  .innhold input {
    width: 38.5%;
    
   }

   .weatherbox h3 {
    font-size: 17px;
    height: 30px;
   }

   .weatherbox p {
    font-size: 13px;
   }
   .bilde img {
    transform: translateY(-175px);
    height: 155px;
    margin-top: 9px;
   }
}

@media (max-width: 370px) {
  .bilde img { 
    transform: translateY(-160px);
  }

  .weatherbox p {
    font-size: 12px;
  }
}


@media (max-width: 321px) {
  .bilde img { 
    transform: translateY(-155px);
    margin-left: 5px;
    height: 135px;
  }

}

