body {
  background-image: url(img/blurredsky.png);
  background-size: auto;
  

}

.container {
  display: flex;
  position: relative;
  top: 10vw;
  flex-direction: row;
  justify-content: center;

 

}

.innhold input {  
  padding: 8px;
  opacity: 50%;
  border-radius: 5px;
  border: none;
}


button {
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  opacity: 50%;
  background-color: rgb(58, 199, 58);
  border: none;
  cursor: pointer;
  
}

button:hover {
   background-color: rgb(93, 202, 93);
}

button:active {
  background-color: rgb(148, 222, 148);
  box-shadow: 0 1px #ffffff;
  transform: translateY(4px);
}

.weather-box {
  background-color: black;
  opacity: 50%;
  border-radius: 5px;
  height: clamp(300px, 50%, 500px);
}

@media (max-width: 409px) {
  .innhold input {
    padding: 3px;
    width: 40%;
  }

  button {
    padding: 3px;

  }
}

@media (max-width: 365px) {
   .innhold input {
    width: 39%;
   }
}