<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Værmelding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='script.js') }}">
</head>
<body>
    <form action="" class='container'>
       <div class='innhold'>
            <input type="text" placeholder='Skriv inn et land...' style='font-style: italic' class='innhold'>
            <input type="text" placeholder='Skriv inn et sted...' style='font-style: italic' class='innhold'>
            <button class='btn'>Søk</button>
        <div class='weather-box'>
          <h3>hei</h3>
        </div>
        
        </div>




    </form>
    
   
    
</body>
</html>